{% extends "base.html" %}

{% block title %}Acerca de{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4  mb-4">Acerca de Nosotros</h1>
            <p>Somos un equipo apasionado de profesionales en el campo de prevención en Ciberseguridad con herramientas
                OSINT (Inteligencia de Fuentes Abiertas).
                Nuestra misión es proporcionar herramientas y soluciones de alta calidad para ayudarte en tus
                investigaciones y análisis.</p>
            <p>Con nuestra experiencia y tecnología avanzada, te brindamos acceso a información relevante y valiosa
                proveniente de fuentes abiertas en línea, lo que te permite tomar decisiones informadas y eficaces.</p>
            <p>¡Gracias por confiar en nosotros para tus necesidades</p>
        </div>
    </div>
</div>
{% endblock %}