{% extends "base.html" %}

{% block title %}Herramientas{% endblock %}

{% block content %}
<div class="tools-container">
    <h1 class="tools-title">Herramientas</h1>
    <p class="tools-description">¡Bienvenido a nuestras herramientas OSINT! Aquí encontrarás herramientas útiles para
        tus
        tareas diarias.</p>
    <!-- Agrega aquí el contenido específico de la página de Herramientas -->
    <div class="iframe-container">
        <iframe src="https://start.me/p/L1rEYQ/osint4all" width="100%" height="600"></iframe>
    </div>
</div>
{% endblock %}