{% extends "base.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2>Iniciar Sesión</h2>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label><br>
        {{ form.username }}
        <br>
        <label for="{{ form.password.id_for_label }}">Contraseña:</label><br>
        {{ form.password }}
        <br><br>
        <button type="submit" class="btn btn-primary"
        style="background-color: #4CAF50;border-color: #4CAF50;">Iniciar Sesión</button><br>
    </form>
    <p>¿No tienes una cuenta? <a href="{% url 'registro' %}">Registrarse</a></p>
{% endblock %}
