{% extends "base.html" %}

{% block title %}Soporte{% endblock %}

{% block content %}
<div class="tools-container">
    <h1 class="tools-title">Foros Hackers</h1>
    <p class="tools-description">¡Bienvenido a Foros de Hackers! Aquí encontrarás publicaciones para su investigación.
    </p>
    <!-- Agrega aquí el contenido específico de la página de Herramientas -->
    <div class="iframe-container">
        <iframe src="https://start.me/sites/ee/tech/hacking-security" width="100%" height="600"></iframe>
    </div>
</div>
{% endblock %}